.card {
    width: 15rem;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
}

.card-img-top{
    height: 200px;
    width: 300px;

}
